@using System.Threading.Tasks
@model IList<CarambaOpen.Models.Poll>
@{
    ViewData["Title"] = "Visa undersökningsresultaten";
}

@foreach (var poll in Model)
{
    <h4>
        <strong style="color:firebrick">@poll.User.Name</strong>
    </h4>
    foreach (var answer in poll.Answers)
    {
        <h4>@answer.Question.Quest</h4>
        <div class="form-group">
            <label>@answer.Question.Alt1</label>
            <span class="form-control">@answer.Alt1</span>
        </div>
        <div class="form-group">
            <label>@answer.Question.Alt2</label>
            <span class="form-control">@answer.Alt2</span>
        </div>
        <div class="form-group">
            <label>@answer.Question.Alt3</label>
            <span class="form-control">@answer.Alt3</span>
        </div>
        <div class="form-group">
            <label>@answer.Question.Alt4</label>
            <span class="form-control">@answer.Alt4</span>
        </div>
    }
}
